
{{ $os := .Get 0 }}
{{ $files := getJSON "assets/" $os }}

<table>
    <thead>
        <tr>
            <th>Instruction set / CPU</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range $files.files }}
        <tr>
            <td><b>{{ .arch }}</b>{{ if .cpus }}: recommended for {{ .cpus }}{{ end }}{{ if .wiki_url }} (<a href="{{ .wiki_url }} " target="_blank" rel="noopener noreferrer">full list</a>){{ end }}</td>
            <td><a href="{{ .file }}" class="radius success button">Download</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>